/*
    naam: Wout Maesen
*/

/*
Hint: 
    (1) Omzetten naar hoofdletters:
            text-transform: uppercase;
    (2) Schaduw in figcaption
            text-shadow: 2px 2px 2px black;
    (3) Eerste 3 lijnen tonen van de paragrafen
            line-height:1em;
	        height:3em;
    (4) Herschaling van de figuren 
            aspect-ratio: 400 / 225;
        s    object-fit:cover;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 900px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #TitelNav {
        background-color: #FFA600;
        color: white;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #natuur {
        display: none;
    }

    #zoekbalk {
        padding: 0;
        display: none;
    }

    label {
        display: none;
    }

    #zoek {
        padding: 0;
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #FFA600;
        text-align: center;
        font-size: 24px;
    }

    li {
        padding: 15px;
    }

    input {
        display: none;
    }

    #natuur {
        color: white;
        background-color: #FFA600;
        text-transform: uppercase;
    }


    img {
        border: 1px solid white;
        border-radius: 25px;
        width: 100%;
        margin: 0;
        padding: 0;
        aspect-ratio: 400 / 225;
        object-fit: cover;
    }

    h1, h2 {
        display: none;
    }

    h3 {
        margin: 20px;
    }

    article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    p {
        display: none;
    }

    figcaption {
        display: none;
    }

    footer {
        display: none;
    }

}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
    }

    #TitelNav {
        background-color: #FFA600;
        color: white;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #natuur {
        display: none;
    }

    #bovenste_container {

        #eekhoorn {
            display: inline;
            float: left;
            width: 33.3333%;
        }

        #vlinder {
            display: inline;
            float: left;
            width: 33.3333%;
        }

        #meeuw {
            display: inline;
            float: right;
            width: 33.3333%;
        }
    }

    #onderste_rij {
        display: block;
    }

    #eend {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #hert {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #insect {
        display: inline;
        float: right;
        width: 33.3333%;
    }

    #zoekbalk {
        padding: 0;
        display: none;
    }

    label {
        display: none;
    }

    #zoek {
        padding: 0;
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #FFA600;
        text-align: center;
        font-size: 24px;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding: 15px;
    }

    input {
        display: none;
    }

    #natuur {
        color: white;
        background-color: #FFA600;
        text-transform: uppercase;
    }

    img {
        border: 1px solid white;
        border-radius: 25px;
        width: 100%;
        margin: 0;
        padding: 0;
        aspect-ratio: 400 / 225;
        object-fit: cover;
    }

    h1, h2 {
        display: none;
    }

    h3 {
        margin: 20px;
    }

    article {
        display: inline;
    }

    p {
        height: 3em;
        line-height: 1em;
    }

    figcaption {
        display: none;
    }

    footer {
        display: none;
    }

    p {
        font-size: 1.4em;
    }

    #p_eekhoorn {
        line-height: 1em;
        height: 3em;
        overflow: hidden;
    }

    .cut-text {
        line-height: 1em;
        height: 3em;
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin-top: 100px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    footer {
        display: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    nav {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: 5px;
    }

    ul {
        list-style-type: none;
    }

    li {
        float: left;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #TitelNav {
        color: white;
        background-color: #FFA600;
        text-transform: uppercase;
    }

    #natuur {
        display: none;
    }

    #zoek {
        display: none;
    }

    input {
        width: 75px;
        position: relative;
        left: 250px;
    }

    ul {
        list-style-type: none;
    }

    #eekhoorn {
        float: left;
        width: 60%;
    }

    #foto_eekhoorn {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #rigth {
        height: 100%;
        float: right;
        width: 39%;
    }

    .resize {
        width: 100%;
        aspect-ratio: 400 / 225;
        object-fit: cover;
    }

    .cut-text {
        line-height: 1em;
        height: 3em;
        overflow: hidden;
    }

    li {
        padding: 5px;
        font-size: 1.4em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        border-left: 10px solid #FFA600;
        font-size: 2em;
        padding-left: 10px;
    }

    h3 {
        margin: 5px;
    }

    header {
        text-transform: uppercase;
        border-bottom: 1px solid #FFA600;
        padding: 10px;
        margin-bottom: 20px;
    }

    img {
        border: 1px solid white;
        border-radius: 25px;
    }

    #onderste_rij {
        display: block;
    }

    #eend {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #hert {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #insect {
        display: inline;
        float: right;
        width: 33.3333%;
    }

    #bovenste_container {
        display: block;
        padding-bottom: 1000px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 1200px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 10px;
    }

    footer {
        width: 100%;
        text-align: center;
        background-color: #FFA600;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    nav {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 250px;
        border: 1px solid #FFA600;
        border-radius: 5px;
    }

    #TitelNav {
        color: white;
        background-color: #FFA600;
        text-transform: uppercase;

        span {
            display: none;
        }
    }

    #natuur {
        padding-left: 5px;
        width: 25px;
        height: 25px;
        display: inline;
    }

    #zoek {
        width: 15px;
        height: 15px;
        padding-left: 5px;
    }

    input {
        width: 100px;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding: 5px;
        font-size: 1.4em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        border-left: 10px solid #FFA600;
        font-size: 2em;
        padding-left: 10px;
    }

    header {
        text-transform: uppercase;
        border-bottom: 1px solid #FFA600;
        padding: 10px;
        margin-bottom: 0.5em;
    }

    figure img {
        border: 1px solid white;
        border-radius: 25px;
    }

    figcaption {
        position: relative;
        bottom: 25px;
        right: 15px;
        text-shadow: 2px 2px 2px black;
        color: white;
        text-align: right;
    }

    .resize {
        width: 100%;
        aspect-ratio: 400 / 225;
        object-fit: cover;
    }

    .cut-text {
        line-height: 1em;
        height: calc(3 * 1.4em * 1);
        overflow: hidden;
    }

    #eekhoorn {
        float: left;
        width: 60%;
    }

    #foto_eekhoorn {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #vlinder {
        height: 50%;
    }

    #meeuw {
        height: 50%
    }

    #rigth {
        height: 100%;
        float: right;
        width: 39%;
    }

    #eend {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #hert {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #insect {
        display: inline;
        float: right;
        width: 33.3333%;
    }

    #bovenste_container {
        display: block;
        padding-bottom: 1000px;
    }

    p {
        font-size: 1.4em;
    }
}

@media screen and  (min-width: 1800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 1200px;
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 10px;
    }

    footer {
        width: 100%;
        text-align: center;
        background-color: #FFA600;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    nav {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 250px;
        border: 1px solid #FFA600;
        border-radius: 5px;
    }

    #TitelNav {
        color: white;
        background-color: #FFA600;
        text-transform: uppercase;

        span {
            display: none;
        }
    }

    #natuur {
        padding-left: 5px;
        width: 25px;
        height: 25px;
        display: inline;
    }

    #zoek {
        width: 15px;
        height: 15px;
        padding-left: 5px;
    }

    input {
        width: 100px;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding: 5px;
        font-size: 1.4em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        border-left: 10px solid #FFA600;
        font-size: 2em;
        padding-left: 10px;
    }

    header {
        text-transform: uppercase;
        border-bottom: 1px solid #FFA600;
        padding: 10px;
        margin-bottom: 0.5em;
    }

    figure img {
        border: 1px solid white;
        border-radius: 25px;
    }

    figcaption {
        position: relative;
        bottom: 25px;
        right: 15px;
        text-shadow: 2px 2px 2px black;
        color: white;
        text-align: right;
    }

    .resize {
        width: 100%;
        aspect-ratio: 400 / 225;
        object-fit: cover;
    }

    .cut-text {
        line-height: 1em;
        height: calc(3 * 1.4em * 1);
        overflow: hidden;
    }

    #eekhoorn {
        float: left;
        width: 60%;
    }

    #foto_eekhoorn {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #vlinder {
        height: 50%;
    }

    #meeuw {
        height: 50%
    }

    #rigth {
        height: 100%;
        float: right;
        width: 39%;
    }

    #eend {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #hert {
        display: inline;
        float: left;
        width: 33.3333%;
    }

    #insect {
        display: inline;
        float: right;
        width: 33.3333%;
    }

    #bovenste_container {
        display: block;
        padding-bottom: 1000px;
    }

    p {
        font-size: 1.4em;
    }
} 
